.root {
    -fx-background-image: url(/sample/assets/fondo.jpg);
    -fx-background-repeat: stretch ;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.menu:hover {
    -fx-background-color: #1A5276;
    -fx-font-weight: bold;
}

.menu-bar {
    -fx-background-color: #148F77;
    -fx-border-color: #566573;
    -fx-border-width: 2;
}

.menu-item {
    -fx-background-color: #73C6B6;
}

.label {
    -fx-text-fill: #FFFFFF;
}
